
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/style.css">
</head>

<body bgcolor="white">
    <div id="header">
    <a href="/" style="text-decoration: none;">Home</a>
    <a href="/insert" style="text-decoration: none;">Insert</a>
    <a href="/display" style="text-decoration: none;">Display</a>
    <a href="/update" style="text-decoration: none;">Update</a>
    <a href="/search" style="text-decoration: none;">Search</a>
    </div>
    <hr>
    <h3>This is my home page</h3>
</body>
</html>