
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form{
    width: 400px;
    height: 350px;
    margin-left: 35%;
    background-color: rgb(137, 166, 191);
    padding: 3rem;
    border-radius: 20px;
}
#form input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}